body {
    background-color: peru;
}
.nav {
    background-color: darkslategray;
}
.block {
    background-color: darkgray;
}
.bod {
    background-color: burlywood;
}
img {
    width: 150px;
    height: 500px;
    object-fit: cover;
    margin-top: 5px
}
.img-div {
    height: 190px;   
}
.show {
    width: 14rem;
    //height: auto;
}


